@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

html,
body {
  background-color: rgb(21, 21, 26);
  color: white;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
  letter-spacing: 2px;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}
